*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*.log
Thumbs.db
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
/lint/reports
/lint/intermediates
/.idea/deploymentTargetDropDown.xml
local.properties
.secrets.baseline
secrets.properties
